body {
	box-sizing: border-box;
	font-display: optional;
	max-width: 90%;
	margin: 0 auto;
/*	height: auto;
*/	text-align: center;
	font-family: sans-serif;
/*	background-color: #A8BCCE;
*/}
ul {
	text-align: center;
	list-style-position: inside;
	list-style: none;
	font-size: 1.4em;
	padding-bottom: 20px;
}
#spqu{
	width: 50%;
	font-size: 160%;
	background-color: #DCDCDC;
	border-left: 3px solid Firebrick;
	padding:30px;
	/*padding-top: 80px;
	padding-bottom: 80px;*/
	/*line-height: 80px;*/
	margin: 80px auto;
	

}
p{
	font-size: 100%;
	/*padding: 20px 20px;*/
	line-height: 40px;
}
table, td, th {
	margin: 0 auto;
	border: 2px solid blue;
	border-collapse: collapse;
	padding: 15px;
}

img {
	max-width: 50%;
		min-width: 30%;
	padding: 20px 0 20px 0;
}
.quem {


}
.nighb{
	border-left: 4px solid #67E47B;
	display: inline;
	/*margin: 0;*/
}
.thefr{
	border-left: 4px solid #456AAC;
	display: inline;

}
.every{
	border-left: 4px solid #C196C1;
	display: inline;
/*	font-size: 160%*/
}
blockquote{
	padding-left: 1px;
	margin: 0;
	font-size: 15px;
	font-weight: bold;
}
.contair {
	display: flex;
	flex-direction: row;
	column-gap: 2px;
	justify-content: space-around;
}
.pargh{
	/*display: flex;*/
	flex-basis: 45%;
}
header > img {
	flex-basis: 45%;
}
header > p {
	background-color: #71889C;
	border-radius: 5px;
	padding: 2px;
	line-height: 50px;
}
.textgood {
	color: #67E47B;
	text-transform: capitalize;
}
.textbad{
	color: #A71111;
	text-transform: capitalize;
}
/*.test11,li{
	background-image: url("https://raw.githubusercontent.com/becodeorg/BXL-Johnson-09-main-repo/main/1.The-Field/03-Frontend-101-Progressive_enhancement/bien.png?token=GHSAT0AAAAAACCU24VRW4IZZWMYIOW6F756ZDDKXZQ");
/*	height: 20px;
	width: 20px;
	/*display: block;*/
	/*background-repeat: no-repeat;
	background-position: right;
	background-size: contain;
	margin: 0 auto;
	width: 27%;*/
/*}*/


li:nth-of-type(1){
	background-image: url("https://raw.githubusercontent.com/becodeorg/BXL-Johnson-09-main-repo/main/1.The-Field/03-Frontend-101-Progressive_enhancement/bien.png?token=GHSAT0AAAAAACCU24VRW4IZZWMYIOW6F756ZDDKXZQ");
/*	height: 20px;
	width: 20px;*/
	/*display: block;*/
	background-repeat: no-repeat;
	background-position: right;
	background-size: contain;
	margin: 0 auto;
	max-width: 25%;
	min-width: 26%;
}
li:nth-of-type(2){
	background-image: url("https://raw.githubusercontent.com/becodeorg/BXL-Johnson-09-main-repo/main/1.The-Field/03-Frontend-101-Progressive_enhancement/mal.png?token=GHSAT0AAAAAACCU24VRWP3ONREZWEUKO3MQZDDL2GQ");
/*	height: 20px;
	width: 20px;*/
	/*display: block;*/
	background-repeat: no-repeat;
	background-position: right;
	background-size: contain;
	margin: 0 auto;
	max-width: 25%;
	min-width: 26%;


}
li:nth-of-type(3){
	background-image: url("https://raw.githubusercontent.com/becodeorg/BXL-Johnson-09-main-repo/main/1.The-Field/03-Frontend-101-Progressive_enhancement/chat.png?token=GHSAT0AAAAAACCU24VR2Y3V33GOUHKKPBTQZDDL4KA");
/*	height: 20px;
	width: 20px;*/
	/*display: block;*/
	background-repeat: no-repeat;
	background-position: right;
	background-size: contain;
	margin: 0 auto;
	max-width: 23%;
	min-width: 26%;



}


button {
	font-size: 50px;
	border-radius: 20px;
	position: fixed;
	bottom: 0;
	right: 0;
}
button .bli {
font-size: 20px;
}


@media only screen and (max-width: 768px) {
 .contair {
   flex-direction: column;
   justify-content: center;
  }
}

@media only screen and (max-width: 768px) {
  .fleximg {

    max-width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .pargh {

    line-height: 20px;
  }
}

@media only screen and (max-width: 768px) {
  img {

    max-width: 100%;
  }
}

