body {
	box-sizing: border-box;

	max-width: 90%;
	margin: 0 auto;
/*	height: auto;
*/	text-align: center;
	font-family: sans-serif;
/*	background-color: #A8BCCE;
*/}
ul {
	text-align: center;
	list-style-position: inside;
	list-style: none;
	font-size: 1.4em;
	padding-bottom: 20px;
}
#spqu{
	width: 50%;
	font-size: 160%;
	background-color: #DCDCDC;
	border-left: 3px solid Firebrick;
	padding:30px;
	/*padding-top: 80px;
	padding-bottom: 80px;*/
	/*line-height: 80px;*/
	margin: 80px auto;
	

}
p{
	font-size: 100%;
	/*padding: 20px 20px;*/
	line-height: 40px;
}
table, td, th {
	margin: 0 auto;
	border: 2px solid blue;
	border-collapse: collapse;
	padding: 15px;
}

img {
	max-width: 50%;
		min-width: 30%;
	padding: 20px 0 20px 0;
}
.quem {


}
.nighb{
	border-left: 4px solid green;
	display: inline-block;
	/*margin: 0;*/
}
.thefr{
	border-left: 4px solid blue;
	display: inline-block;

}
.every{
	border-left: 4px solid pink;
	display: inline-block;
/*	font-size: 160%*/
}
blockquote{
	padding-left: 1px;
	margin: 0;
	font-size: 15px;
	font-weight: bold;
}
.contair {
	display: flex;
	flex-direction: row-reverse;
	column-gap: 2px;
}
.pargh{
	/*display: flex;*/
	flex-basis: 45%;
}
header > img {
	flex-basis: 45%;
}
header > p {
	background-color: #71889C;
	border-radius: 5px;
	padding: 2px;
	line-height: 50px;
}
.textgood {
	color: green;
	text-transform: capitalize;
}
.textbad{
	color: red;
	text-transform: capitalize;
}